@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .article {
        @apply p-[3px] border-[3px] border-[#0493FA] rounded-[20px];
    }
}

body {
    background-color: #F5F5F5;
}

a:active,
a:hover,
a:focus {
    color: #7875FF;
}

